/* all
--------------------*/

html {
    height: 100%;
    width:100%;

}

body {
    height : 100%;   
    margin : 0;
}

a {
    text-decoration:none;
}
    
a:link {
    color:#000000;
}
    
a:visited {
    color:#000000;
}


ul {
    list-style: none;
}



/* header
--------------------*/
header {
    height: 50px;
    width: 100%;
    border-bottom: thin solid gray;
}

.header-left {
    margin-left: 50px; 
    float: left;
}


/* navi
--------------------*/

.headerarea{
    height: 15px;
    margin: 40px auto 0 auto;
}

.header-left{
  margin-right: auto;
  float: left;
}

.header-right{
  margin-left: auto;
  float: right;
}

nav li {
    margin-right: 50px;
    opacity: 0.6;
    font-weight: bold;
    float: left;
}

nav li:hover {
    opacity: 1;
}



/*　マイページ */

.contents-wraps{
    padding: 30px;
    height:300px; 
 }
 
 .content-wrap{
    background-color: #eef6fc;
    border: 2px solid #2196f3;
    letter-spacing: .3px;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 70px;
    text-align: center;
 }

 .user-name{
    font-size:20px;
    font-weight: bold;
    background-color: #2196f3;
    padding: 4px 6px;
 }

 .user_name_title{
     font-weight: bold;
     padding-top: 10px;
 }
 
 .user-nav-bar{
     display: flex;
     margin-left: 30px;
 }
 
 .user-nav{
     margin-top: 30px;
     margin-bottom: 30px;
     margin-right: 60px;
     margin-left: 60px;
     font-size: 19px;
 }
 
 .user_email_title{
     font-weight: bold;
 }

 .user_password_title{
     font-weight: bold;
 }
 
 /*　登録情報 */

 .profile_top_area {
     display:flex;
 }

 .profile_top_title{
     font-size:large;
     font-weight: bold;
 }

 .profile_top_left_area{
     margin-top:20px;
     margin-bottom:20px;
     margin-right:50px;
     margin-left:350px;
     background: #e5e6eb;
     border-top: solid 5px #5d627b;
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
     width:300px;
     text-align: center;
 }

 .profile_top_right_area{
    margin-top:20px;
     margin-bottom:20px;
     margin-right:100px;
     margin-left:50px;
     background: #e5e6eb;
     border-top: solid 5px #5d627b;
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
     width:300px;
     text-align: center;
}

.menu_area_title{
    font-size:large;
    font-weight: bold;
}

.submit_area{
    padding-top: 20px;
    padding-bottom: 20px;
}

.submit_btn{
    font-size: 16px;
    padding: 8px 17px;
    border: solid 1px #0f9ada;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    background: #03A9F4;
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

/* footer
--------------------*/

footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
  
footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}
