/* all
--------------------*/

html {
    height: 100%;
    width:100%;

}

body {
    height : 100%;   
    margin : 0;
}

a {
    text-decoration:none;
}
    
a:link {
    color:#000000;
}
    
a:visited {
    color:#000000;
}


ul {
    list-style: none;
}



/* header
--------------------*/
header {
    height: 50px;
    width: 100%;
    border-bottom: thin solid gray;
}

.header-left {
    margin-left: 50px; 
    float: left;
}


/* navi
--------------------*/

.headerarea{
    height: 15px;
    margin: 40px auto 0 auto;
}

.header-left{
  margin-right: auto;
  float: left;
}

.header-right{
  margin-left: auto;
  float: right;
}

nav li {
    margin-right: 50px;
    opacity: 0.6;
    font-weight: bold;
    float: left;
}

nav li:hover {
    opacity: 1;
}


/*　title_wrapper */

.title_wrapper{
    padding-top: 50px;
}

.title_area{
    text-align: center;
}

.start_title p{
    font-size:30px;
}

/*　マイページ */

.mymenu_area{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.mymenu{
    margin:40px;
    width:300px;
}

.mymenu_contents{
    margin-top:20px;
    margin-right:30px;
    margin-bottom:30px;
    margin-left:30px;
    width:250px
}

.title{
    margin-top: 4px;
    margin-bottom: 12px;
}

.title a{
    color:blue;
    font-size:18px;  
}


.key{
    margin: 4px 8px 4px 0;
    padding: 3px 16px;
    border: solid 1px lightgray;
    border-radius: 4px;
    box-shadow: 0 0 4px lightgrey;
    color: #424242;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

.keycutbar{
    margin: 4px 8px 4px 0;
}

.method_contents{
    margin: 4px 8px 4px 0;
    background-color:oldlace;
}


/* footer
--------------------*/

footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
  
footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}