/* all
--------------------*/

html {
    height: 100%;
    width:100%;

}

body {
    height : 100%;   
    margin : 0;
}

a {
    text-decoration:none;
}
    
a:link {
    color:#000000;
}
    
a:visited {
    color:#000000;
}


ul {
    list-style: none;
}



/* header
--------------------*/
header {
    height: 50px;
    width: 100%;
    border-bottom: thin solid gray;
}

.header-left {
    margin-left: 50px; 
    float: left;
}


/* navi
--------------------*/

.headerarea{
    height: 15px;
    margin: 40px auto 0 auto;
}

.header-left{
  margin-right: auto;
  float: left;
}

.header-right{
  margin-left: auto;
  float: right;
}

nav li {
    margin-right: 50px;
    opacity: 0.6;
    font-weight: bold;
    float: left;
}

nav li:hover {
    opacity: 1;
}


/* contents
--------------------*/

.contents {
    margin-top: 30px;
    margin-right: 20px;
    display:flex;
}

.area{
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
    margin-left:30px;
}


/* contents(メニュー投稿)
--------------------*/
.menu_post{
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
    margin-left:10px;
}

.menu_post_title{
    border-left: thick solid rgb(82, 142, 219);
}

h1{
    margin-left: 10px;
}

/* メニュー投稿フォーム  post_menu
 */
 .menu_form{
    width:80%;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    font-size:16px;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

input{
    margin-left:15px;
}

.menu_form_fontarea{
    margin-left:20px;
}

.menu_form_fontarea p{
    font-weight: bold;
    font-size: 17px;
    border-left: solid 4px #5d627b;
}

.title_form{
    width:650px;
    height:22px;
    font-size:16px;
}

/* チェックボックス03 */

.checkbox_area{
    margin-left:15px;
}

input[type=checkbox] {
    display: none;
}

.checkbox03 {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}

.checkbox03::before {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.checkbox03::after {
    border-right: 6px solid #fedd1e;
    border-bottom: 3px solid #fedd1e;
    content: '';
    display: block;
    height: 20px;
    left: 7px;
    margin-top: -16px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translate3d(0,2px,0) scale3d(.7,.7,1);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    width: 9px;
}

input[type=checkbox]:checked + .checkbox03::before {
    border-color: #666;
}

input[type=checkbox]:checked + .checkbox03::after {
    opacity: 1;
    transform: rotate(45deg) scale3d(1,1,1);
}

.item_form{
    width:650px;
    height:22px;
    font-size:16px;
}

textarea{
    width: 650px;
    height: 11em;
    font-size:16px;
    margin-left:15px;
}

.youtube_form{
    width:650px;
    height:22px;
    font-size:16px;
}

.menu_post_btn{
    padding-top:30px;
    padding-left:280px;
    padding-bottom:30px;
}

.submit_form{
    padding: 10px 30px;
    border: solid 1px #0f9ada;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    background: #03A9F4;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    font-size:20px;
}

/* contents(マイプロフィール欄)
--------------------*/

.areas{
    width:400px;
    height:450px;
    margin-right:100px;
    margin-top:60px;
    background-color: #eef6fc;
    border: 2px solid #2196f3;
    letter-spacing: .3px;
}

.titlebar{
    text-align: center;
    color: #fff;
    font-size:20px;
    font-weight: bold;
    background-color: #2196f3;
    padding: 4px 6px;
}

.areas h3{
    font-size:20px;
}

.user-info-containers{
    text-align: center;
    margin-bottom:30px;
    margin-right:10px;
    margin-left:10px;
}

.user_profile_list{
    border-top: thin solid rgb(250, 248, 248);
    border-bottom: thin solid rgb(250, 248, 248);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-size:19px;
}

.user_profile_list li{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: thin solid gray;
}


.sign-up-boxs .link-btns{
    padding: 1em 2em;
    border: solid 1px #0f9ada;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    background: #03A9F4;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}


/* footer
--------------------*/

footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
  
footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}
