@charset "utf-8";


/* all
--------------------*/

html {
    height: 100%;
    width:100%;
}

body {
    height : 100%;   
    margin : 0;
}

a {
    text-decoration:none;
}
    
a:link {
    color:#000000;
}
    
a:visited {
    color:#000000;
}


ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}




/* header
--------------------*/
header {
    height: 180px;
    width: 100%;
}

.header-left {
    margin-left: 50px; 
    float: left;
}

.header-left img {
    width: 250px;
}


/* navi
--------------------*/

nav {
    height: 15px;
    margin: 80px auto 0 auto;
    position: relative;
}

nav ul {
    margin-left: auto;
    float: right;
}

nav li {
    margin-right: 50px;
    opacity: 0.6;
    font-weight: bold;
    float: left;
}

nav li:hover {
    opacity: 1;
}

#navi {
    display: none;
}




/* main
--------------------*/

.top-area {
    background-image: url("https://thumb.photo-ac.com/88/88ddddea8d503541fd08adf08c69d3fa_t.jpeg");
    background-size: cover;
    height:600px;
    width: 100%;
}

.message {
    color: #311731;
    width: 60%;
    text-align: center;
    padding: 50px 0;
}

.message h2 {
    font-size: 50px;
    letter-spacing: 5px;
    padding-top: 50px;
}

.message p {
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 40px;
    padding-bottom: 50px;
    font-size:30px
}


/* contents
--------------------*/

.contents {
    margin-top: 50px;
    display:flex;
}

.contents h1 {
    text-align: center;
    color:#4F4B4B;
    font-size: 30px;
    font-family: 'Gurmukhi MN',sans-serif;
}



/* contents(ジャンル検索)
--------------------*/
.menu{
    margin-top:10px;
    margin-right:100px;
    margin-bottom:10px;
    margin-left:10px;
}

.top-genre__img{
    width:140px;
    height:110px;
}


.top-genres {
    display: flex;
}

.top-genre{
    margin-right:10px;
    margin-bottom:10px;
    position: relative;
}

.top-genre__font{
    position: absolute;
    top: 55px;
    left:55px;
}

.top-genre__name{
    color:rgb(34, 33, 33);
    font-size:20px;
    font-weight: bold;
}

.top-genre__store-count{
    font-size:13px;
}

/* contents(新規登録へ)
--------------------*/
.user-info-container{
    width:100%;
    margin: 30px;
}


.top-container{
    text-align: center;
    width: 50%;
    padding: 30px;
    background-color: oldlace;
}

.explain-login{
    display: inline-block;
    text-align: center;
    margin: 8px 0;
    color: gray;
    font-size: 12px;
    width:70%;
}


.sign-up-box .link-btn{
    padding: 1em 2em;
    border: solid 1px #0f9ada;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    background: #03A9F4;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

/* contents(マイプロフィール欄)
--------------------*/
.user-info-containers{
    width:100%;
    margin: 30px;
}


.top-containers{
    text-align: center;
    width: 80%;
    padding: 30px;
    background-color: oldlace;
}

.profile_list{
    margin: 8px 0;
    color: gray;
    font-size: 18px;
    width:70%;
}

.profile_list li{
    margin: 30px;
}



.vision-area {
    margin-top: 50px;
    text-align: center;
    color: #4F4B4B;
    height: 380px;
}

.visions {
    width: 33%;
    float: left;
}

.visions img {
    width:60%;
}

.vision-icon p {
    font-weight: bold;
    font-size: 30px;
}

.text-contents {
    width: 80%;
    display: inline-block;
}




.mandatory {
    color: white;
    font-size: 12px;
    background-color: red;
    padding: 3px 3px;
    margin-left: 5px;
}
.alertarea {
    color: red;
    background-color: #fee;
    background-image: url("img/alerticon.png");
    background-repeat: no-repeat;
    background-position: 0.35em center;
    display: inline-block;
    border-radius: 0.5em;
    margin-left: 0.5em;
    padding:1px 0.5em 1px 32px;
}

.alertarea:empty {
    display: none;
}


.page_top{
    width: 100px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #4F4B4B;
    opacity: 0.6;
}
  
.page_top a{
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
}

.page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

footer {
    width: 80%;
    margin: 0 auto;
}
  
footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}